#front-hero {

	.marketing {

		background-color: rgba(155, 198, 120, .78);
		border-radius: 30px;



	}


	@media #{$small-up} {
		background: url("../images/ilmfinity/primes_def_sunset.png") scroll 0 0 #074E68;
		background-size: cover;
		padding: rem-calc(65%) 0;

		margin: - rem-calc(32) 0 rem-calc(32);
		position: relative;
		text-align: left;
	}

	@media #{$medium-up} {
		background-size: cover;
		height: rem-calc(700);
		margin: - rem-calc(32) 0 rem-calc(72);
	}

	#watch {
		section {
			display: inline;
		}

		a {
			color: #B4C9D1;
			cursor: pointer;
			font-weight: 400;
			margin-right: rem-calc(20);
		}

		a:hover {
			color: #fff;
		}

		#stargazers {
			:before {
				content: "\f09b";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				color: #B4C9D1;
				margin-right: rem-calc(8);
			}
		}

		#twitter {
			:before {
				content: "\f099";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				color: #B4C9D1;
				margin-right: rem-calc(8);
			}
		}

	}
.appStore{
	max-height: 50px;
	margin-left: 15px;
	margin-right: 15px;
	float: right;
}
	.tagline {

			padding: 25px;
			h4{
				color: $white;
				font-family: 'Aclonica';
			}
			.button{
				background-color: rgba(87, 97, 103, .29);
				font-family: 'Aclonica';
			}
			.button:hover{
				background-color: #90BD72;
			}
	}

		h1 {
			font-weight: 500;
		}

		h1 a, h4 { color: #fff; }

		.fpmock img {
			@media screen and (max-width: 870px) {
				display: none;
			}

			position: absolute;
			top:rem-calc(21);
		}

		.download { margin-top: rem-calc(20); }



	}

	.social-media-side{
		text-align: center;
		margin-bottom: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
		background-color: rgba(234, 229, 229, 0.48);

		h4{
				text-transform: uppercase;

		}
		.side-content{
			text-align: left;
			background-color: #fff;
			margin: 10px;
			border-radius: 10px;
			padding:10px;
		}
	}
	.contact-side{
		text-align: center;
		margin-bottom: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
		background-color: rgba(234, 229, 229, 0.48);

		h4{
				text-transform: uppercase;

		}
		.side-content{
			background-color: #fff;
			margin: 10px;
			border-radius: 10px;
			padding:10px;
		}
	}


 .entry-title{

	 		font-family: fantasy;
			margin-top: 10px;
			color: #15A1D4;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 15px;
			text-transform: uppercase;


	}
	.entry-content{
		background-color: #fff;
		margin:10px;
		padding: 10px;
		border-radius:10px;
		padding-left: 15px;
		padding-right: 15px;
		color: #4C4444;
		p{
			font-family: serif;
			color: #5A5959;
		}
	}

	.front-post{
		background-color: #F5F3F3;
		margin-bottom: 50px;

		@media #{$medium-up} {
			margin-right: 100px;
		}


	}
	.category-link{
		a{
			color: #fff;
		}
		a:hover {
			color: #E6E6E6;
		}
	}
.post-footer{


}

.post-meta {

	background: none repeat scroll 0 0 $primary-color;

	line-height: 1;

	margin-bottom: 0;

	overflow: hidden;

}

.post-meta div {

	color: #FFFFFF;

	display: inline-block;

	font-family: montserrat;

	font-size: 12px;

	letter-spacing: 3px;

	line-height: 40px;

}

.post-meta div i {

	border-right: 1px solid rgba(0, 0, 0, 0.06);

	border-left: 1px solid rgba(255, 255, 255, 0.1);

	color: #FFFFFF;

	display: inline-block;

	font-size: 13px;

	height: 40px;

	line-height: 40px;

	text-align: center;

	vertical-align: top;

	width: 50px;

}

.post-meta div span {

	border-left: 1px solid rgba(255, 255, 255, 0.1);

	border-right: 1px solid rgba(0, 0, 0, 0.06);

	display: inline-block;

	margin-right: -3px;

	padding: 0 10px;

}
